<app-navbar></app-navbar>
<div
  class="container-fluid bg-secondary text-dark bg-opacity-10"
  style="min-height: 94.5vh; padding: 20px;"
>
  <p *ngFor="let alert of alerts">
    <ngb-alert [type]="alert.type" (closed)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
  </p>
  <nav ngbNav #nav="ngbNav" class="nav-tabs">
    <ng-container ngbNavItem>
      <a ngbNavLink>Clientes</a>
      <ng-template ngbNavContent>
        <app-Clientes></app-Clientes>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
      <a ngbNavLink>Usuarios</a>
      <ng-template ngbNavContent>
        <app-Usuarios></app-Usuarios>
      </ng-template>
    </ng-container>
  </nav>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
