<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
          class="img-fluid"
          alt="Phone image"
        />
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form method="post">
          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="inputUser">Mombre de usuario</label>
            <input
              id="inputUser"
              type="text"
              class="form-control form-control-lg"
              [(ngModel)]="UserName"
              name="UserName"
              placeholder="Nombre de usuario"
              required="required"
            />
          </div>
          <!-- Password input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="inputPassword">Contraseña</label>
            <input
              id="inputPassword"
              type="password"
              class="form-control form-control-lg"
              [(ngModel)]="Password"
              name="Password"
              placeholder="Contraseña"
              required="required"
            />
          </div>
          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="login()">
            Ingresar
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
